# Ignore Microsoft Office documents
*.doc
*.docx
*.pfc

# Ignore C/C++ compiled files
*.exe
*.out
*.o
*.obj
*.app

# Ignore Git related files
.git/
.gitattributes

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp
*~

# Ignore OS specific files
.DS_Store
Thumbs.db
